<div style="display: flex; justify-content: center; margin-top: 2rem;">
  <div style="width: 60%; display: flex; justify-content: center;">
    <div>
      <span style="font-size:xx-large;">🤖 Scherzo-Bot! 🤖</span>
    </div>
  </div>
</div>
<div style="display: flex; justify-content: center;">
  <div style="width: 60%; display: flex; justify-content: center;">
    <span>An AI driven music compositional assistant powered by MagentaJS </span>
  </div>
</div>

<div style="height: 1px; width: 70%; position: absolute; left: 15%; border-style: solid; margin-top: 2rem;"></div>

<div style="display: flex; justify-content: center; margin-top: 5rem;">
  <div style="width: 60%; display: flex; justify-content: center;">
    <div style="width: 100%; display: flex; justify-content: space-around;">
      <button (click)="onClickTab('generate', 0)" class="button"> Generate 🎶 </button>
      <button (click)="onClickTab('continue', 1)" class="button"> Continue 🎵 </button>
      <button (click)="onClickTab('interpolate', 2)" class="button"> Interpolate 🎼 </button>
    </div>
  </div>
</div>

<div style="width: 60%; position: absolute; left: 20%; border-style: solid; border-radius: 25px; margin-top: 2rem;">
  <div style="margin-top: 2rem; margin-left: 2rem;">
    <span> {{this.description}} </span>
  </div>
  <div  *ngIf="this.selectedView == 'continue'" style="display: flex; justify-content: center; margin-top: 3rem;">
    <div style="width: 60%; display: flex; justify-content: center;">
      <div>
        <span>Input 1: </span>
        <div style="margin-top: 0.5rem;">
          <input type="file" id="fileInput" (change)="loadFile($event.target.files, 0)">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="this.selectedView == 'interpolate'" style="display: flex; justify-content: center; margin-top: 3rem;">
    <div style="width: 60%; display: flex; justify-content: center;">
      <div >
        <span>Input 1: </span>
        <div style="margin-top: 0.5rem; margin-bottom: 1rem;">
          <input type="file" id="fileInput" (change)="loadFile($event.target.files, 1)">
        </div>
        <span>Input 2: </span>
        <div style="margin-top: 0.5rem; margin-bottom: 1rem">
          <input type="file" id="fileInput" (change)="loadFile($event.target.files, 2)">
        </div>
      </div>
    </div>
  </div>

  <div style="display: flex; justify-content: center; margin-top: 3rem;">
    <div style="width: 60%; display: flex; justify-content: center;">
      <div>
        <button (click)="onClickCompose()" [disabled]="this.message == this.messagesList[3]" class="button" style="width: 100px"> Compose! </button>
      </div>
    </div>
  </div>

  <div style="display: flex; justify-content: center; margin-top: 3rem;">
    <div style="width: 60%; display: flex; justify-content: center;">
      <div>
        <span style="padding: 1rem;"> {{this.message}} </span>
      </div>
    </div>
  </div>

  <div style="display: flex; justify-content: center;">
    <div style="width: 60%; display: flex; justify-content: center; margin-bottom: 3rem;">
      <div>
        <div style="margin-top: 1rem;">
          <button (click)="playComposition()" [disabled]="!this.generatedSong" class="button" style="width: 100px"> Play/Stop </button>
        </div>
        <div style="margin-top: 1rem;">
          <button (click)="download()" [disabled]="!this.generatedSong" class="button" style="width: 100px"> Download </button>
        </div>
      </div>
    </div>
  </div>
</div>